<nav id="nav">
			<ul>
				<li><a href="{{site.baseurl}}/index" class="{% if page.url == '{{site.baseurl}}/index' %}selected{% endif %}">Home</a></li>
				<li><a href="{{site.baseurl}}/features" class="{% if page.url == '/features' %}selected{% endif %}">Features</a></li>
				<li><a href="{{site.baseurl}}/user-guide" class="{% if page.url == '/user-guide' %}selected{% endif %}">User Guide</a></li>
				<li><a href="{{site.baseurl}}/download" class="{% if page.url == '/download' %}selected{% endif %}">Download</a></li>
				<li><a href="{{site.baseurl}}/buy" class="{% if page.url == '/buy' %}selected{% endif %}">Buy</a></li>
				<li><a href="{{site.baseurl}}/contacts" class="{% if page.url == '/contacts' %}selected{% endif %}">Contacts</a></li>
				<li><a href="{{site.baseurl}}/blog" class="{% if page.url == '/blog' %}selected{% endif %}">Blog</a></li>
			</ul>
</nav>
